<section id="tasks">
    <header>
        <h2>
            {{selectedUser}}'s Tasks
        </h2>
        <menu>
            <button (click)="startAddingTask()">
                Añadir task
            </button>
        </menu>
    </header>
    <ul>
        @for (task of userTasks; track task.id) {
        <li>
            <app-task [task]="task" (complete)="onCompleteTask($event)" />
        </li>
        }
        @empty {
        <p>
            No se han encontrado tasks.
        </p>
        }
    </ul>
    @if (isAddingTask) {
        <app-new-task (cancel)="onCancelAddingTask()" (add)="onAddTask($event)" />
    }
</section>